    <a href="/">Log Off</a>
    <a asp-controller="Activity" asp-action="Dashboard">Dashboard</a>
<h1>Dojo Activity Center</h1><hr>

@model retake.Models.ActivityModel

 
<div asp-validation-summary="All"></div>

<div class="form-group">
<fieldset>
    <legend><h2>Create an Activity!</h2></legend>
    <form asp-controller="Activity" asp-action="addActivity" method="post">
    <label asp-for="Title"></label>
    <input class ="form-control"asp-for="Title"/><br>
     <label asp-for="Time"></label>
    <input type ="time" ="form-control"asp-for="Time"/><br>
    <label asp-for="Date"></label>
    <input type="date" class="form-control" asp-for="Date"/><br>
    <label asp-for="DurationLength"></label>
    <input type="number" class="form-control" asp-for="DurationLength"/><br>
     <label asp-for="DurationString"></label>
    <select asp-for="DurationString">
    <option class="form-control" value ="Days" asp-for="DurationString">Days</option>
    <option class="form-control" value ="Hours" asp-for="DurationString">Hours</option>
    <option class="form-control" value ="Minutes" asp-for="DurationString">Minutes</option>
    </select><br>
<label asp-for="description"></label>
    <textarea class ="form-control"asp-for="description"></textarea><br>
    
    <button type="submit" class="btn btn-primary">Create Activity</button>
</form>
</fieldset>
</div>